.index{ // 首次进入
    .above{
        width: 100%;
        .tip{
            width: 70%;
            margin: 0 auto;
            position: relative;
            img.topi{
            	display: block;
            	width: 100%;
            }
            .btni{
            	width: 100%;
            	position: absolute;
            	bottom: 15px;
            	img{
            		width: 70%;
            		display: block;
            		margin: 0 auto;
            	}
            	
            }
        }
        .tip2{
        	width: 100%;
        	img{
        		width: 100%;
        	}
        }

    }
    .footer{
        height: 50%;
        .tab{
            .tab1{

            }
            .tab2{

            }
        }
        .content{
            .content1{

            }
            .content2{

            }
        }


    }
}