@charset "utf-8";
@font:"SYHT","微软雅黑","Microsoft YaHei","Heiti","STHeiti","HeitiSC","STHeitiSC";
@bgcolor:#0d212a;


html,body,.container{
    width: 100%;
    height: 100%;
}
html{
    font-size: 16px;
}
body{
    background-color: gray;
    font-family: @font;
    color:white;
}
*{
    margin: 0;
    padding: 0;
    border: 0 none;
}
.index{ //首次进入
    .above{
        height: 50%;
        .tip{
            
            width: 3rem;
            margin: 0 auto;
        }
        .btn{
            height: 4rem;
            text-align: center;
            a{
                height: 4rem;
                width: 80%;
                margin: 0 auto;
                display: inline-block;
                background-color: red;
                box-sizing: border-box;
            }
        }

    }
    .footer{
        height: 50%;
        .tab{
            .tab1{

            }
            .tab2{

            }
        }
        .content{
            .content1{

            }
            .content2{

            }
        }


    }
}

.record{ //声音录制
    .container{

    }
}

.view{ //分享浏览
    .container{
        
    }
}